BODY {
	MARGIN-TOP: 0px; FONT-SIZE: 11px; MARGIN-LEFT: 0px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A:link {
	COLOR: #999999; TEXT-DECORATION: none
}
A:visited {
	COLOR: #999999; TEXT-DECORATION: none
}
A:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
A:active {
	TEXT-DECORATION: none
}
.projectPicture {
	Z-INDEX: 2; LEFT: 46px; VISIBILITY: visible; POSITION: absolute; TOP: 135px; opacity: 0.0; moz-opacity: 0.0
}
.backpicture {
	Z-INDEX: 1; LEFT: 0px; VISIBILITY: visible; POSITION: absolute; TOP: 0px; opacity: 0.0; moz-opacity: 0.0
}
#ContentLayer {
	Z-INDEX: 1; LEFT: 45px; WIDTH: 500px; POSITION: absolute; TOP: 45px; HEIGHT: 530px
}
.head {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000
}
.copyright {
	FONT-SIZE: 10px; COLOR: #999999
}
.submenu {
	FONT-SIZE: 10px; LEFT: 60px; VISIBILITY: hidden; WIDTH: 140px; POSITION: absolute
}
.menu {
	FONT-SIZE: 16px; Z-INDEX: 1; LEFT: 200px; VISIBILITY: visible; WIDTH: 100px; POSITION: absolute; HEIGHT: 20px
}
